@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Poppins:wght@100&display=swap');
/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

html,
body {
    height: 100%;
}

body {
    font-size: 1.6rem;
}

header {
    background: linear-gradient(90deg, #07c972, #359d9e);
}

.logo h1 {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

header .container {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1100px;
    margin: auto;

}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #f8f7f9;
    font-size: 21px;
    margin-left: 48px;
    padding: 6px 10px;
    font-family: 'Open Sans', sans-serif;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.089);
    transition: 0.3s;
}

@media(max-width: 964px) {

    html {
        font-size: 50%;
    }
}

@media(max-witdh: 809px) {

    html {
        font-size: 40%;
    }
}

@media(max-width: 709px) {

    nav {
        display: none;
    }

    .one,
    .two,
    .three {
        background-color: white;
        height: 5px;
        width: 100%;
        margin: 6px auto;
        transition-duration: 0.3s;
    }

    .menu-burguer {
        width: 40px;
        height: 30px;
    }

    .menu-section.on {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(150deg, #07c972, #359d9e);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu-section.on nav {
        display: block
    }

    .menu-section.on .menu-burguer {
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .menu-section.on .menu-burguer .one {
        transform: rotate(45deg) translate(7px, 7px);
    }

    .menu-section.on .menu-burguer .two {
        opacity: 0;
    }

    .menu-section.on .menu-burguer .three {
        transform: rotate(-45deg) translate(7px, -7px);
    }

    .menu-section.on nav ul {
        display: block;
        text-align: center;
    }

    .menu-section.on nav ul li a {
        transition-duration: 0.3s;
        font-size: 5rem;
        line-height: 15rem;
        margin-left: 0;
    }
}